# PostgreSQL Connection Settings
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=ridesync_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# MongoDB Connection Settings
MONGO_URI=mongodb://localhost:27017/
MONGO_DB=ridesync_db

# Data Generation Configuration
POSTGRES_SEED_COUNT=100000
MONGO_SEED_COUNT=500000
